/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 2 [status_id],
		[rownames],
      [created_at]
      ,[user_id]
      ,[text]
      ,[text_url_cleaned]
      ,[source]
      ,[reply_to_status_id]
      ,[reply_to_user_id]
      ,[reply_to_screen_name]
      ,[is_quote]
      ,[is_retweet]
      ,[favorite_count]
      ,[retweet_count]
      ,[hashtags]
      ,[symbols]
      ,[urls_url]
      ,[urls_tco]
      ,[urls_expanded_url]
      ,[media_url]
      ,[media_tco]
      ,[media_expanded_url]
      ,[media_type]
      ,[ext_media_url]
      ,[ext_media_tco]
      ,[ext_media_expanded_url]
      ,[ext_media_type]
      ,[mentions_user_id]
      ,[mentions_screen_name]
      ,[lang]
      ,[quoted_status_id]
      ,[quoted_text]
      ,[retweet_status_id]
      ,[retweet_text]
      ,[place_url]
      ,[place_name]
      ,[place_full_name]
      ,[place_type]
      ,[country]
      ,[country_code]
      ,[geo_coords]
      ,[coords_coords]
      ,[bbox_coords]
      ,[screen_name]
      
  FROM [iPhoneXReleaseTweets].[dbo].[Tweets]
  WHERE created_at >= CONVERT (datetime, '2017-11-24 14:28:27.000')
  ORDER BY created_at asc

